*.a
*.o
*.la
*.lo
*.so
*~
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
.deps/
.libs/
aclocal.m4
aran-config.h
aran-config.h.in
aran.pc
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
*.stamp
*.bak
