atconfig
dev3
dummypot
dummypotparallel
gradient3
laurent
legendre
m2l3
multipole3
newtonfield3
newtonfield3parallel
newtonpot3
package.m4
profiledb
profiledb-*.ini
rotation
special_legendre
sphericalharmonic
sphericalharmonic_pregradient
sphericalseriesd
taylor
taylor3
testsuite
testsuite.log
wigner
p2l3
p2l2
